*{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 63px;
            background-color: #494949;
            position: fixed;
            width: 100%;
            z-index: 100; 
        }
        .navbar {
            display: flex;
            margin-right: 10px ;
        }

        .navbar a {
            display: block;
            padding: 20px 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;

        }

        .login a {
            display: block;
            padding: 10px 10px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
        }
        .logo {
            margin-left: 30px;

        }
        .logo {
            color: white;
            font-family: Arial, sans-serif;
            font-size: 48px;
            background: linear-gradient(to right, rgba(10, 231, 10, 0.5) 50%, rgba(255, 255, 255, 0.76) 50%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        
        .logo a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size:20px;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header {
            height: 60vh;
            background: url(img/about.jpg) no-repeat center;
            background-size: cover;
        }


        .title {
            margin-bottom: 40px;
            font-size: 60px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
        }

        
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        section {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        p{
            margin-bottom: 40px;
            font-size: 18px;
            color: #fff;
        }

        .btn {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 40px;
            border: 5px solid #e9d4c8;
            color: #fff;
            text-decoration: none;
            background: #f16161;
        }
        .btn:hover {
            background: none;
        }
        
        .btn-home {
            display: flex;

        }
        .btn-home {
            margin: 0 10px;

        }

        .content {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .box-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }

        img {
            height: 8rem;
            margin: 2rem 0;
            background-color: #333;
            color: #fff;
            font-size: 10rem;
            text-align: center;
            border-radius: 20%;
             
        }

        footer {
            background-color: #a50000;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
 